

@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

body {
    margin: 0;

    /* define o padrão da fonte */
    font-family: "Zen Dots", serif;
    font-size: 1.125rem;
    font-weight: 300;
    
}

/* topopgrafia */

h1 {
    font-size: 2rem;
}

h1,
p,
input,
button {
    text-align: center;
    color: #2c2c2c;
    /* border: 1px solid green; */
    
}

button, input {
    font-size: 400;
    font-family: "Russo One", serif;
    
}
input {
    font-size: 1.6rem;
}

img {
    max-width: 100%;
    display: block;
}


/* layout */

h1, p {
    margin: 0;
}
/* div principal */
.container {
    max-width: 90%;
    width: 675px;
    margin: 0 auto;
    /* background: #a9ffff; */

}

.conteudo-principal {
    /* display: flex;  */
    /* flex-direction: column;
    justify-content: center; */
    background: #9c968b;
}

section {
    /* border: 1px solid green; */
    margin-bottom: .5em;
}

.input-botao {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* layout input */
input {
    width: 100%;
    padding: .1em 0;
    border-style: none;
    border-radius: 10px;
    margin-bottom: .2em;
    background-color: #ebe2d1;
}

/* layout button */
button {
    width: 45%;
    padding: .5em 0;
    border-radius: 10px;
    border-color: #2c2c2c;
    background-color: #ebe2d1;
}

@media (max-width:262px) {
    h1 {
        font-size: 1.5rem;
    }
    p {
        font-size: .9rem;
    }
}

/* @media (max-width: 262px) {

    .conteudo-principal {
        background: #131313;
    }
    
    h1,
    p{
        color: #e4e3e3;
    }
    
    input,
    button {
        background: #e4e3e3;
        color: #131313;
    }
} */

.black-style {
    background-color: #131313;
    font-family: 'Times New Roman', Times, serif;
    color: aqua !important;

}

